.git
.gitignore
**/__pycache__/
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.cache/
**/.venv/
**/.lightrag_data/
**/.vector_rag_data/
**/.hipporag_data/
**/node_modules/
**/dist/
**/build/
*.log
*.tmp
.env
graphrag
src/benchmarks/graphrag/.venv/
src/benchmarks/light-rag/.venv/
src/benchmarks/vector-rag/.venv/
src/benchmarks/hippo-rag/.venv/
